@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<a href="/OgrenciGiris/OgrenciGiris" class="btn btn-primary">Öğrenci Girişi</a>
<br />

<br />


<a href="/EgitmenGiris/EgitmenGiris" class="btn btn-primary">Eğitmen Girişi</a>